<section class="horizontal-form">
  <div class="container-fluid">
    {{!-- This partial contains the quantity, name, and description fields --}}
    {{partial "host/add-common"}}

    <div class="over-hr r-mt20 r-mb20">
      <span>ACCOUNT ACCESS</span>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">API URL</label>
      </div>
      <div class="col-md-10">
        {{input type="text"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.apiUrl
        }}
      </div>

      <div class="col-md-2 form-label">
        <label class="form-control-static">API Key</label>
      </div>
      <div class="col-md-10">
        {{input type="text"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.apiKey
        }}
      </div>

      <div class="col-md-2 form-label">
        <label class="form-control-static">Secret Key</label>
      </div>
      <div class="col-md-10">
        {{input type="text"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.secretKey
        }}
      </div>
    </div>





    <div class="over-hr r-mt20 r-mb20">
      <span>Instance</span>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">Ingress CIDR</label>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.ingressCidr
          }}
        </div>
      </div>

      <div class="col-md-2 form-label">
        <label class="form-control-static">Network Name</label>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.network
          }}
        </div>
      </div>

      <div class="col-md-2 form-label">
        <label class="form-control-static">Service Offering</label>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.serviceOffering
          }}
        </div>
      </div>

      <div class="col-md-2 form-label">
        <label class="form-control-static">SSH User Name</label>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.sshUser
          }}
        </div>
      </div>

      <div class="col-md-2 form-label">
        <label class="form-control-static">SSH Port</label>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.sshPort
          }}
        </div>
      </div>

      <div class="col-md-2 form-label">
        <label class="form-control-static">Template Name</label>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.template
          }}
        </div>
      </div>

      <div class="col-md-2 form-label">
        <label class="form-control-static">Zone</label>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.zone
          }}
        </div>
      </div>
    </div>

    {{!-- This partial contains the Labels and Advanced Options fields --}}
    {{partial "host/add-options"}}
  </div>

  {{!-- This component shows errors produced by validate() in the component --}}
  {{top-errors errors=errors}}

  {{!-- This component shows the Create and Cancel buttons --}}
  {{save-cancel save="save" cancel="cancel"}}
</section>
